<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.varsitysoftware.cordova.androidmediametadataretriever"
    version="1.0.0">

    <name>AndroidVideoPlayer</name>
        
    <engines>
        <engine name="cordova" version=">=2.4.0" />
    </engines>
        
    <js-module src="www/android/androidmediametadataretriever.js" name="AndroidMediaMetaDataRetriever">
        <clobbers target="window.AndroidMediaMetaDataRetriever" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidMediaMetaDataRetriever">
                <param name="android-package" value="com.varsitysoftware.cordova.androidmediametadataretriever.AndroidMediaMetaDataRetriever"/>
            </feature>
        </config-file>
        
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
 
        <source-file src="src/android/AndroidMediaMetaDataRetriever.java" target-dir="src/com/varsitysoftware/cordova/androidmediametadataretriever" />      
     </platform>          
</plugin>
